{#
/**
 * @file
 * Display Suite 1 column wrapper template.
 *
 * Available variables:
 * - outer_wrapper: outer wrapper element
 * - ds_content_wrapper: wrapper around content
 * - attributes: outer wrapper attributes
 * - ds_content_attributes: attributes for ds_content region
 * - ds_content: content of ds_content region
 */
#}
<{{ outer_wrapper }}{{ attributes.addClass('ds-1col', 'clearfix', 'modal') }} role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <{{ ds_content_wrapper }}{{ ds_content_attributes }}>
          {{ ds_content }}
        </{{ ds_content_wrapper }}>
      </div>
    </div>
  </div>
</{{ outer_wrapper }}>

